<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">        
        <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <title>{% block title %}Accueil{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <style>
    nav{background:#263271;height:6vh;display:flex;align-items:center;justify-content:center;position:fixed;z-index:2;width:100%;opacity:0.98;}
    .logo{height:6vh;}
    .nav-link{color:#C1A291;}
    .icon{color:#C1A291;}
    a:hover{text-decoration:none;}
    .panier{height:3vh;}
    ul{align-items:center;}
    li{margin-left:4vh;margin-right:4vh;}
    footer{align-items:center;text-align:center;background:#263271;height:20vh;}
    i{font-size:2em;margin-left:2%;margin-right:2%;}
    .iconReseaux{padding:3vh;}
    </style>
    <body>
      <nav>
        <ul class="nav justify-content:center">
            <li class="nav-item">
              <a class="nav-link active" href="{{path('jarvis')}}"><img class="logo" src="../img/img/jarvisLogo.gif"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path('jarvisPro')}}">JarvisPro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path('jarvisAcces')}}">JarvisAcces</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path('jarvisScreen')}}">JarvisScreen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path('jarvisHotel')}}">JarvisForHotel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.cloud.mysmartjarvis.com/">S'identifier</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img class="panier" src="../img/BagOr.png"></a>
            </li>

          </ul>
        </nav>

        </ul>
      </nav>


      {% block body %}
        
        
      {% endblock %}




        
      {% block javascripts %}{% endblock %}

      <footer>

        
          <div class="iconReseaux">

            <a class="icon" href="http://www.facebook.com/mysmartjarvis"><i class="fab fa-facebook-square"></i></a>

            <a class="icon" href="http://www.instagram.com/mysmartjarvis"><i class="fab fa-instagram"></i></a>
          </div>
          <div>
            <p>© 2020 Copyright :
                <a href="" class="lienFin"> mysmartjarivs .com</a></p>
          </div>

        

      </footer>  
    </body>
</html>
